:root {
	/* font sizes  */

	--heading-XL-size: 56px;
	--heading-XL-line-height: 70px;

	--heading-L-size: 40px;
	--heading-L-line-height: 51px;

	--heading-M-size: 32px;
	--heading-M-line-height: 40px;

	--heading-S-size: 24px;
	--heading-S-line-height: 28px;

	/* title props */
	--title-desktop-size: 24px;
	--title-desktop-line-height: 30px;
	--title-mobile-size: 20px;
	--title-mobile-line-height: 25px;

	/* title default props */
	--fs-title: var(--title-desktop-size);
	--lh-title: var(--title-desktop-line-height);

	/* main header default props */
	--fs-header: var(--heading-XL-size);
	--lh-header: var(--heading-XL-line-height);

	/* font weights  */

	--fw-extra-bold: 800;
	--fw-medium-bold: 500;
	--fw-bold: 700;

	/* body */
	--body-M-size: 18px;
	--body-M-line-height: 28px;

	--body-S-size: 16px;
	--body-S-line-height: 26px;

	/* text colors */
	--text-paragraph-color: #83869a;
	--text-darker-color: #13183f;
	--text-pink-color: #f74780;
	--text-white-color: #ffffff;
	--text-pink-dim-color: #ffa7c3;

	/* backgrounds colors  */

	--bg-white: #f2f2f2;
	--bg-darker: #13183f;
	--bg-pure-white: #ffffff;
	--bg-gradient-main: linear-gradient(#ff6f48, #f02aa6);
	--bg-gradient-support: linear-gradient(#4851ff, #f02aa6);
	--bg-body-gradient: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-style: normal;
	color: #13183f;
	background-image: var(--bg-white);
	max-width: 100%;
	overflow-x: hidden;
}

/* General button style */
.btn {
	display: block;
	width: 167px;
	height: 56px;
	border-radius: 56px;
	line-height: 56px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

/* button hover effect */

.btn:hover{
	opacity: 0.5;
}

/* Header container */
#header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 24px 165px;
	position: relative;
}

/* Header "Get Started" button */
.get-started-btn-top {
	background-color: var(--bg-darker);
	color: var(--text-white-color);
}

/* Page logo */
#top-logo {
	width: 114px;
	/* height: 45px; */
}

/* Hero section container */
.hero-area {
	display: flex;
	overflow-x: hidden;
	margin-top: -105px;
	padding-left: 165px;
}

/* Hero section message part */
.message-container {
	min-width: 50%;
	padding-top: 252px;
}

/* Actual message wrapper */
.message-content-area {
	max-width: 560px;
}

/* Main header "Maximize skill..." */
.message-content-area h1 {
	display: block;
	max-width: 510px;
	font-size: var(--fs-header);
	font-weight: var(--fw-extra-bold);
	line-height: var(--lh-header);
	margin-bottom: 30px;
}

/* Main header paragraph */
.message-content-area p {
	display: block;
	max-width: 457px;
	font-size: var(--body-M-size);
	font-weight: var(--fw-medium-bold);
	line-height: var(--body-M-line-height);
	margin-bottom: 40px;
	color: var(--text-paragraph-color);
}

/* Message area button */
.get-started-btn-middle {
	background-image: var(--bg-gradient-main);
	color: var(--text-white-color);
}

/* Hero image part */
.hero-banner {
	max-width: 100%;
	margin-top: -146px;
	width: 991px;
	height: 936px;
	display: none;
}

/* Desktop size banner (image) */
.desktop-banner {
	display: block;
}

/* Courses section */
.courses-area {
	width: 100%;
	background-image: var(--bg-body-gradient);
	padding: 0 165px 140px 165px;
}

/* course-area padding changes to //padding: 0 40px 86px 40px;// @tablet and //padding: 0 16px 80px 16px;// @mobile */

/* setting medium heading properties */
.heading-medium {
	font-size: var(--heading-M-size);
	font-weight: var(--fw-extra-bold);
	line-height: var(--heading-M-line-height);
}

/* building checkout card */
#checkout-card {
	width: 100%;
	height: 100%;
	color: var(--text-white-color);
	background-image: var(--bg-gradient-main);
	padding: 64px 32px;
	border-radius: 10px;
}

/* courses wrapper */
.courses-area > .courses {
	width: 100%;
	margin: auto;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 56px 30px;
}

.courses > .course-card {
	padding-top: 24px;
}

/* building card */
.course-card .card {
	width: 100%;
	min-height: 100%;
	background-color: var(--bg-pure-white);
	border-radius: 10px;
	box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
	padding: 64px 32px 40px 32px;
	position: relative;
}

/* Card overlapping image style */
.course-card .card > .course-image {
	width: 56px;
	height: 56px;
	position: absolute;
	left: 32px;
	top: -24px;
}

/* Card title style */
.card > .card-body > .card-title {
	font-size: var(--fs-title);
	font-weight: var(--fw-extra-bold);
	line-height: var(--lh-title);
	margin-bottom: 24px;
}

/* Card paragraph style */
.card > .card-body > .card-paragraph {
	font-size: var(--body-M-size);
	font-weight: var(--fw-medium-bold);
	line-height: var(--body-M-line-height);
	color: var(--text-paragraph-color);
	margin-bottom: 52px;
}

/* Card link style */
.card > .card-body > .card-link {
	position: absolute;
	bottom: 40px;
	color: var(--text-pink-color);
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	cursor: pointer;
}

/* Card link hover/active effect */
.card > .card-body > .card-link:hover{
	color: var(--text-pink-dim-color);
}

/* Footer container */
.footer-area {
	width: 100%;
	background-color: var(--bg-darker);
	padding: 32px 165px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* logo at the footer area */
#footer-logo {
	width: 111px;
	height: 27px;
}

/* Footer area button */
#get-started-btn-footer {
	background-image: var(--bg-gradient-support);
	color: var(--text-white-color);
}

/*
===================================================
===== Tablet viewport - landscape orientation =====
===================================================
*/

@media (max-width: 1024px) {
	:root {
		/* checkout heading props changes to */
		--heading-M-size: 24px;
		--heading-M-line-height: 32px;

		/*  paragraph props changes to */
		--body-M-size: var(--body-S-size);
		--body-M-line-height: var(--body-S-line-height);

		/* title props changes to */
		--fs-title: var(--title-mobile-size);
		--lh-title: var(--title-mobile-line-height);

		/* main header props changes to */
		--fs-header: var(--heading-L-size);
		--lh-header: var(--heading-L-line-height);
	}

	#header-top {
		margin: 24px 40px;
	}

	#top-logo {
		width: 89px;
		/* height: 45px; */
	}

	.hero-area {
		padding-left: 40px;
	}

	.hero-banner {
		max-width: 100%;
		margin-top: -72px;
		width: 840px;
		height: 770px;
	}

	.tablet-banner {
		display: block;
	}
	.mobile-banner,
	.desktop-banner {
		display: none;
	}

	.btn {
		width: 140px;
		height: 48px;
		line-height: 48px;
	}

	.courses-area {
		padding: 0 40px 86px 40px;
	}

	.footer-area {
		padding: 36px 40px;
	}

	.courses-area > .courses {
		grid-template-columns: repeat(auto-fit, minmax(337px, 1fr));
		gap: 32px 11px;
	}
	
}

/*
=================================
=====  Tablet viewport  =====
=================================
*/


@media only screen and (max-width: 768px) and (min-width: 481px){
	#header-top {
		margin: 24px 40px 40px 40px;
	}
	.hero-area {
		padding-left: 40px;
	}
	.tablet-banner {
		display: block;
	}
	.mobile-banner,
	.desktop-banner {
		display: none;
	}

	.hero-banner {
		max-width: 100%;
		margin-top: -92px;
		width: 640px;
		height: 640px;
	}

	.message-container {
		padding-top: 140px;
	}

	.courses-area {
		padding: 0 39px 86px 40px;
	}
	
	.courses-area > .courses {
	
	grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
	gap: 32px 11px;
}

	#footer-logo {
		width: 90px;
		height: 35px;
	}

	#get-started-btn-footer {
		width: 140px;
		height: 48px;
		line-height: 48px;
	}
}

/*
=================================
===== Mobile phone viewport =====
=================================
*/


/* @media only screen and (max-width: 480px) and (min-width: 320px) */
/* this causes the hero section flow to revert back to desktop-style when screen size < 320 */


/* So, I have to maintain this */
@media only screen and (max-width: 480px){
	#header-top {
		margin: 16px;
		margin-bottom: 38px;
	}
	.hero-area {
		display: flex;
		flex-direction: column;
		margin-top: -105px;
		padding: 0 16px;
	}
	.message-container {
		padding-top: 102px;
	}
	.mobile-banner {
		display: block;
	}
	.tablet-banner {
		display: none;
	}

	.hero-banner {
		width: 100%;
		height: 100%;
		margin: auto;
	}

	.message-container {
		margin-bottom: 46px;
	}

	.courses-area {
		padding: 0 16px 80px 16px;
	}

	.footer-area {
		padding: 36px 16px;
	}
	.courses-area > .courses {
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		gap: 16px;
	}

	.course-card .card > .course-image {
		left: 28px;
	}

	#checkout-card {
		padding: 24px 29px 32px 28px;
	}
}
