:root {
	/* font sizes  */

	--heading-XL-size: 56px;
	--heading-XL-line-height: 70px;

	--heading-L-size: 40px;
	--heading-L-line-height: 51px;

	--heading-M-size: 32px;
	--heading-M-line-height: 40px;

	--heading-S-size: 24px;
	--heading-S-line-height: 28px;

	/* title props */
	--title-desktop-size: 24px;
	--title-desktop-line-height: 30px;
	--title-mobile-size: 20px;
	--title-mobile-line-height: 25px;

	/* title default props */
	--fs-title: var(--title-desktop-size);
	--lh-title: var(--title-desktop-line-height);

	/* font weights  */

	--fw-extra-bold: 800;
	--fw-medium-bold: 500;
	--fw-bold: 700;

	/* body */
	--body-M-size: 18px;
	--body-M-line-height: 28px;

	--body-S-size: 16px;
	--body-S-line-height: 26px;

	/* text colors */
	--text-paragraph-color: #83869a;
	--text-darker-color: #13183f;
	--text-pink-color: #f74780;
	--text-white-color: #ffffff;
	--text-pink-dim-color: #ffa7c3;

	/* backgrounds colors  */

	--bg-white: #f2f2f2;
	--bg-darker: #13183f;
	--bg-pure-white: #ffffff;
	--bg-gradient-main: linear-gradient(#ff6f48, #f02aa6);
	--bg-gradient-support: linear-gradient(#4851ff, #f02aa6);
	--bg-body-gradient: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

/* waa */

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-style: normal;
	color: #13183f;
	/* min-height: 100vh; */
	background-image: var(--bg-white);
	max-width: 100%;
	overflow-x: hidden;
}

.btn {
	display: block;
	width: 167px;
	height: 56px;
	border-radius: 56px;
	line-height: 56px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.btn:hover,
.btn:active {
	opacity: 0.6;
}

#header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* background-color: #13183f;  */
	margin: 24px 165px;
	position: relative;
}

.get-started-btn-top {
	/* position: absolute; */
	background-color: var(--bg-darker);
	color: var(--text-white-color);
}

#top-logo {
	width: 114px;
	/* height: 45px; */
}

.hero-area {
	display: flex;
	overflow-x: hidden;
	/* background-color: green; */
	margin-top: -105px;
	padding-left: 165px;
}

.message-container {
	/* background-color: #ff6f48; */
	min-width: 50%;
	padding-top: 252px;
}

.message-content-area {
	max-width: 560px;
}

.message-content-area h1 {
	font-size: var(--heading-XL-size);
	font-weight: var(--fw-extra-bold);
	line-height: var(--heading-XL-line-height);
	margin-bottom: 30px;
}

.message-content-area p {
	font-size: var(--body-M-size);
	font-weight: var(--fw-medium-bold);
	line-height: var(--body-M-line-height);
	margin-bottom: 40px;
	color: var(--text-paragraph-color);
}

.get-started-btn-middle {
	background-image: var(--bg-gradient-main);
	color: var(--text-white-color);
}

.hero-banner {
	max-width: 100%;
	margin-top: -146px;
	width: 991px;
	height: 936px;
	/* z-index: 100; */
	display: none;
}

.desktop-banner {
	display: block;
}




@media (max-width: 1200px) {
	:root {
		/* checkout heading props changes to */
		--heading-M-size: 24px;
		--heading-M-line-height: 32px;

		/*  paragraph props changes to */
		--body-M-size: var(--body-S-size);
		--body-M-line-height: var(--body-S-line-height);

		/* title props changes to */
		--fs-title: var(--title-mobile-size);
		--lh-title: var(--title-mobile-line-height);
	}
	#header-top {
		margin: 24px 40px;
	}

	#top-logo {
		width: 89px;
		/* height: 45px; */
	}
	.hero-area {
		padding-left: 40px;
	}

	.btn {
		width: 140px;
		height: 48px;
		line-height: 48px;
	}

	
}

/*
=================================
=====  Tablet viewport  =====
=================================
*/

@media (max-width: 768px) {
	#header-top {
		margin: 24px 40px 40px 40px;
	}
	.hero-area {
		padding-left: 40px;
	}
	.tablet-banner {
		display: block;
	}
	.mobile-banner,
	.desktop-banner {
		display: none;
	}

	.hero-banner {
		max-width: 100%;
		margin-top: -92px;
		width: 640px;
		height: 640px;
	}

	.message-container {
		padding-top: 140px;
	}
	.message-content-area {
		/* width: 398px; */
	}

	.message-content-area h1 {
		font-weight: 800;
		font-size: 40px;
		line-height: 50px;
	}



}

@media (max-width: 480px) {
	#header-top {
		margin: 16px;
		margin-bottom: 38px;
	}
	.hero-area {
		display: flex;
		flex-direction: column;
		margin-top: -105px;
		padding: 0 16px;
	}
	.message-container {
		padding-top: 102px;
	}
	.mobile-banner {
		display: block;
	}
	.tablet-banner {
		display: none;
	}

	.hero-banner {
		width: 100%;
		height: 100%;
		margin: auto;
		/* width: 327px; */
		/* height: 301px; */
		/* margin-top: 46px; */
		/* z-index: 100; */
	}

	.message-container {
		margin-bottom: 46px;
	}

	
}
